.projects__container{
    display: grid;
    gap: 2.5rem;
}

.projects__item-features {
    display: flex;
    flex-direction: column;
}

.projects__item{
    background-color: var(--color-bg-variant);
    padding: 0.8rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.projects__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.projects__item-image {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.projects__item-image img{
    border-radius: 1.2rem;
}

.projects__item h3 {
    margin: 0.2rem 0 0.1rem;
}

.projects__item-btn {
    margin-top: 0.8rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.projects__details{
    display: flex;
    gap: 1rem;
}

.projects__details-icon {
    width: 1.2rem;
    margin-top: 6px;
    color: var(--color-primary);
}

/* ------- Media Queries (Medium devices) -------- */
@media screen and (max-width: 1024px) {
    .projects__container {
        grid-template-columns: 1fr ;
        gap: 1.2rem;
    }

    .projects__item{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

  }

/* ------- Media Queries (Small devices) -------- */
@media screen and (max-width: 600px) {
    .projects__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .projects__item{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }
    
  }