header {
    height: 74vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 100%;
    
}

.header__1st{
    display: flex;
    align-items: center;
}


/* ------ Header Button ------*/
.header__button {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    
}

.me {
    /* background: linear-gradient(var(--color-primary), transparent); */
    width: 28rem;
    height: 28rem;
    border-radius: 20rem ;
    overflow: hidden;
    padding: 1.5rem;
}

/* ------- Media Queries (Medium devices) -------- */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
    .me {
        /* background: linear-gradient(var(--color-primary), transparent); */
        width: 22rem;
        height: 22rem;
        margin-top: 4rem;
    }
    
  }

/* ------- Media Queries (Small devices) -------- */
@media screen and (max-width: 600px) {
    .header__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        height: 100%;
        position: relative;
    }

    header {
        height: 100vh;
    }
    
    .header__socials, .scroll__down {
        display: none;
    }

    .me {
        /* background: linear-gradient(var(--color-primary), transparent); */
        width: 20rem;
        height: 20rem;
    }
  }
